.wizard-content {
    .navigation {
        text-align: right;
        margin-top: 16px;

        .mat-button {
            padding-right: 16px;
            padding-left: 8px;
        }
        .mat-raised-button {
            padding-left: 16px;
            padding-right: 8px;
        }
    }
    
    .full-width {
        width: 100%;
    }

    .mat-button,
    .mat-raised-button {
        font-size: 12px;
    }
}

.mat-vertical-stepper-header{
    pointer-events: none !important;
}
