<div class="app-about" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <h1 class="mat-h1">STRADA</h1>
    <h3 class="mat-h3">An urban traffic web simulator that uses data in real time</h3>
    <p>Copyright&nbsp;©&nbsp;{{ currentYear }} Roberto&nbsp;Simonetti - MIT license</p>
    <p>Project developed for the dissertation of my bachelor's degree in computer engineering</p>
    <h2 class="mat-h2">Links</h2>
    <ul>
        <li>
            <p>
                Repository:
                <a href="https://github.com/robisim74/STRADA" target="_blank">STRADA source code</a>
            </p>
        </li>
        <li>
            <p>
                Official documentation:
                <a href="https://robisim74.github.io/STRADA/" target="_blank">STRADA documentation</a>
            </p>
        </li>
    </ul>
    <h2 class="mat-h2">Built with</h2>
    <ul>
        <li>
            <p>
                Angular, TypeScript & Firebase
            </p>
        </li>
    </ul>
</div>

<app-footer></app-footer>