@import '../../styles/variables';

.app-about {
    padding: 16px;
    text-align: center;

    h1 {
        font-weight: bold;
    }
    
    > p {
        font-style: italic;
        font-size: 14px;
    }
    
    a {
        text-decoration: underline;
        color: inherit;
    
        &:hover {
            text-decoration: underline;
        }
    }
    
    ul {
        list-style: none;
        padding: 0;
        margin-top: -24px;
        font-size: 14px;
    }    
}
