<div [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutGap="8px">
        <mat-form-field color="accent" class="full-width">
            <input matInput formControlName="address" placeholder="Address" (keyup.enter)="search(formGroup.get('address').value)">
            <button type="button" mat-icon-button matSuffix (click)="search(formGroup.get('address').value)" title="Search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
        <button type="button" mat-raised-button class="full-width" (click)="getCurrentPosition()">Get current position</button>
    </div>

    <div class="navigation">
        <button type="button" mat-raised-button color="accent" matStepperNext [disabled]="formGroup.invalid">Continue
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>