.header {
    background-color: #eceff1;
    padding: 4px;
    text-align: center;
    font-weight: 500;
}

.cell {
    background-color: #eceff1;
    height: 48px;
    padding: 4px;
    text-align: center;

    .mat-icon-button {
        .mat-icon {
            font-size: 20px;
        }
    }
}
