$font-family: Roboto, 'Helvetica Neue', sans-serif;

/* Material Palette */
$primary-color-dark:   #babdbe;
$primary-color:        #eceff1;
$primary-color-light:  #ffffff;
$secondary-color-dark: #004ba0;
$secondary-color:      #1976d2;
$secondary-color-light:#63a4ff;
$primary-color-text:   #000000;
$secondary-color-text: #ffffff;
