<div class="centered" *ngIf="pending">
    <mat-progress-spinner color="accent" mode="indeterminate">
    </mat-progress-spinner>
    <div class="message">
        {{ pending }}
    </div>
</div>

<div class="ui-content" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px" [class.ops]="pending">
    <div fxFlex="1 1 60%" fxFlex.lt-md="1 1 auto" fxFlexOrder="1" cfxLayoutGap="8px">
        <div fxFlex="1 1 auto">
            <ui-weather></ui-weather>
        </div>
        <div fxFlex="1 1 auto" fxLayout="column" fxLayoutAlign="start">
            <mat-accordion>
                <mat-expansion-panel expanded="network">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Network
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ui-map></ui-map>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="numerical">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Numerical
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ui-numeric></ui-numeric>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="statistics" [expanded]="statistics">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Statistics
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ui-charts></ui-charts>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    <div fxFlex="1 1 40%" fxFlex.lt-md="1 1 auto" fxFlexOrder="1" fxLayout="column" fxLayoutGap="8px">
        <ui-wizard></ui-wizard>
        <div class="actions" fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="8px">
            <button type="button" mat-raised-button (click)="reset()" title="Reset the whole simulation">Reset</button>
            <button type="button" mat-raised-button (click)="exit()" title="Exit the simulation">Exit</button>
        </div>
    </div>
</div>

<app-footer></app-footer>