@import '../../styles/variables';

.ui-content {
    min-height: 100%;

    .mat-card {
        margin: 8px;
    }

    .actions {
        margin: 8px;

        button {
            font-size: 12px;
            width: 50%;
        }
    }
}

/* MatSnackBar */
.error-snackbar {
    text-align: center;
    font-size: 14px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;

    .message {
        position: relative;
        width: 200px;
        top: 8px;
        left: -50px;
        font-size: 14px;
        text-align: center;
        color: $secondary-color-dark;
    }
}

.ops {
    opacity :0.4;
}

/* Time Picker */
.owl-dialog-container {
    overflow: hidden;

    .owl-dt-dialog-container {
        font-size: 14px;
    }

    .owl-dt-container-control-button {
        color: $secondary-color;
    }
}

.mat-accordion {
    .mat-expansion-panel {
        margin: 8px;
    }
}   
