// Import all the tools needed to customize the theme and extract parts of it.
@import '~@angular/material/theming';
@import '../../styles/variables';

// Define a mixin that accepts a theme and outputs the color styles for the component.
@mixin ui-component-theme($theme) {
    .mat-form-field-suffix {
        font-size: 12px;
        font-weight: 500;

        .mat-icon-button {
            font-size: 16px !important;
        }
    }
}
