.app-terms {
    padding: 16px;
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;

    .mat-card {
        max-width: 600px;

        a {
            text-decoration: underline;
            color: inherit;
        }
    }
}
