<div class="app-privacy" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <mat-card-title>
            <p>Privacy Policy of STRADA</p>
        </mat-card-title>
        <mat-card-content>
            <p>This privacy policy describes how your personal data are used and protected by the application
                <a href='https://strada-simulator.firebaseapp.com'>STRADA</a>
            </p>
            <p>The information is provided pursuant to art. 13 of Legislative Decree no. 196/2003 and EU Regulation 2016/679
                <em>General Data Protection Regulation (GDPR)</em>.
            </p>
            <h3>Categories of processed data</h3>
            <p>The app does not collect any personal data.</p>
            <h4>Data you provide voluntarily</h4>
            <p>The data and the results are displayed by the app for the time in which you remain connected, and no data is
                in any way acquired or saved.</p>
            <h4>Cookies</h4>
            <p>The app makes no use of cookies, neither profiling nor technical.</p>
            <h3>External services</h3>
            <p>The app uses Google Maps APIs, for which please refer to its privacy policy:
                <a href='https://policies.google.com/privacy?hl=en'>Google Privacy Policy</a>
            </p>
        </mat-card-content>
    </mat-card>
</div>

<app-footer></app-footer>