<div [formGroup]="formGroup">
    <div fxLayout="column" fxLayoutGap="8px">
        <div formArrayName="odPairs">
            <div fxLayout="column" fxLayoutGap="3px">
                <div fxLayout="row" fxLayoutGap="3px">
                    <div fxFlex="1 1 15%" class="header">O</div>
                    <div fxFlex="1 1 15%" class="header">D</div>
                    <div fxFlex="1 1 30%" class="header">Path</div>
                    <div fxFlex="1 1 20%" class="header">Demand</div>
                    <div fxFlex="1 1 20%" class="header"></div>
                </div>
                <div *ngFor="let pair of odPairs.controls; let i=index" [formGroupName]="i" fxLayout="row" fxLayoutGap="3px">
                    <div fxFlex="1 1 15%" class="cell" fxLayout="column" fxLayoutAlign="center">
                        <span>{{ pair.value.origin }}</span>
                    </div>
                    <div fxFlex="1 1 15%" class="cell" fxLayout="column" fxLayoutAlign="center">
                        <span>{{ pair.value.destination }}</span>
                    </div>
                    <div fxFlex="1 1 30%" class="cell" fxLayout="column" fxLayoutAlign="center">
                        <span>{{ pair.value.pathType }}</span>
                    </div>
                    <div fxFlex="1 1 20%" class="cell" fxLayout="column" fxLayoutAlign="center">
                        <mat-form-field color="accent" class="full-width">
                            <input matInput type="number" min="0" step="1" formControlName="demand" placeholder="No. vehicles">
                            <mat-error *ngIf="pair.get('demand').hasError('required') || pair.get('demand').hasError('min') || pair.get('demand').hasError('max') || pair.get('demand').hasError('pattern')">
                                Invalid value
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1 1 20%" class="cell" fxLayout="column" fxLayoutAlign="center center">
                        <button type="button" mat-icon-button color="accent" (click)="toggleValue(pair)" title="Show paths" aria-label="Show paths">
                            <mat-icon>{{ getVisibility(pair) }}</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div formGroupName="weatherConditions" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field>
                <mat-select placeholder="Weather conditions" formControlName="description" name="description">
                    <mat-option *ngFor="let description of descriptions" [value]="description">
                        {{ description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field color="accent" class="full-width">
                <input matInput type="number" min="0" step="100" formControlName="visibility" placeholder="Visibility">
                <span matSuffix>m</span>
                <mat-error *ngIf="formGroup.get('weatherConditions').get('visibility').invalid">
                    Invalid value
                </mat-error>
            </mat-form-field>
            <mat-form-field color="accent" class="full-width">
                <input matInput type="number" min="0" step="1" formControlName="rainIntensity" placeholder="Rain intensity">
                <span matSuffix>mm</span>
                <mat-error *ngIf="formGroup.get('weatherConditions').get('rainIntensity').invalid">
                    Invalid value
                </mat-error>
            </mat-form-field>
            <mat-form-field color="accent" class="full-width">
                <input matInput type="number" min="0" step="1" formControlName="snowIntensity" placeholder="Snow intensity">
                <span matSuffix>mm</span>
                <mat-error *ngIf="formGroup.get('weatherConditions').get('snowIntensity').invalid">
                    Invalid value
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="navigation">
        <button type="button" mat-raised-button color="accent" matStepperNext [disabled]="formGroup.invalid">Continue
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>